.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  font-style: italic;
}

.mt-1 {
  margin-top: 1%;
}

.mt-2 {
  margin-top: 2%;
}

.mt-3 {
  margin-top: 3%;
}

.mt-4 {
  margin-top: 4%;
}

.mt-5 {
  margin-top: 5%;
}

.mb-2 {
  margin-bottom: 2%;
}


.uk-flex-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content:space-between;
  justify-content: space-between;
}

.uk-flex-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center
}

.uk-flex {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.uk-flex .perpage {
  display: inline-block;
}

.filter-wrapper{
   margin-bottom: 20px;
}

.filter-wrapper .perpage {
  display: inline-block;
}

.btn {
  margin-bottom: 0;
  font-size: 13px;
  border-radius: 0;
  height: 32px;
}

.filter-wrapper .form-control {
  height: 32px;
  max-width: 200px;
  font-size: 13px;
}

.mr10{
  margin-right: 10px;
}

.mr5{
 margin-right: 5px;
}


.required{
  font-size: 15px;
  color: red;
}

.warning {
  background-color: #F8AC59 !important;
}

.active-bg {
  background-color: bisque !important;
}