.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  font-style: italic;
}

.mt-1 {
  margin-top: 1%;
}

.mt-2 {
  margin-top: 2%;
}

.mt-3 {
  margin-top: 3%;
}

.mt-4 {
  margin-top: 4%;
}

.mt-5 {
  margin-top: 5%;
}

.mb-2 {
  margin-bottom: 2%;
}

.mb-5 {
  margin-bottom: 5%;
}

.uk-flex {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.uk-flex-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center
}



.uk-flex-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}



.uk-flex .perpage {
  display: inline-block;
}

.filter-wrapper {
  margin-bottom: 20px;
}

.filter-wrapper .perpage {
  display: inline-block;
}

.btn {
  margin-bottom: 0;
  font-size: 13px;
  border-radius: 0;
  height: 32px;
}

.filter-wrapper .form-control {
  height: 32px;
  max-width: 200px;
  font-size: 13px;
}

.mr10 {
  margin-right: 10px;
}

.mr5 {
  margin-right: 5px;
}

.w100 {
  width: 100% !important;
}

.required {
  font-size: 15px;
  color: red;
}

.warning {
  background-color: #F8AC59 !important;
}

.active-bg {
  background-color: bisque !important;
}

table .image {
  height: 50px;
  display: block;
}

.image img {
  width: 100%;
}

.img-target {
  cursor: pointer !important;
}

table .img-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mb15 {
  margin-bottom: 15px;
}

.meta_title {
  font-size: 20px;
  color: #1a0dab;
}

.canonical {
  color: green;
  margin-bottom: 8px;
}

.meta_description {
  font-size: 14px;
  color: #777;
}

.seo-wrapper {
  margin-top: 30px;
}

.seo-wrapper textarea {
  height: 300px;
  resize: none;
}

.noti {
  font-size: 11px;
  font-style: italic;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input:focus {
  border-color: #e5e6e7 !important;
}

.input-wrapper .baseUrl {
  position: absolute;
  height: 34px;
  line-height: 34px;
  display: inline-block;
  padding: 0 10px;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #fff, #f9fafb);
  border-color: #e5e6e7 !important;
  border: 1px solid;
  border-right: 0;
}

input[name=canonical] {
  color: navy;
  font-weight: 600;
}